<app-jumbotron></app-jumbotron>
<br />
<!--Formulario-->
<div class="form-group col-lg-8 container-lg" id="formulario">
  <form clss="form-inline">
    <input
      type="text"
      placeholder="Escribe aquí tu tarea pendiente"
      class="form-control-lg form-control"
      [(ngModel)]="tareaImput"
      name="tarea"
      id="insertarTarea"
    />
    <br />
    <div class="col text-lg-center">
      <!-- Button trigger modal -->
      <button
        type="button submit"
        class="btn btn-outline-primary text-center"
        data-toggle="modal"
        data-target="#exampleModal"
        (click)="agregarTarea()"
      >
        Agregar nueva tarea
      </button>
    </div>
  </form>
</div>

<div
  class="container card col-sm-4 text-center bg-light mb-3 border-primary card-columns"
  *ngFor="let tareasP of ArregloTareas; let i = index"
  id="tarjeta"
>
  <div class="card-body p-3">
    <h5 class="card-text" id="tituloTarjeta">{{ tareasP.tarea }}</h5>
    <button
      (click)="eliminarTarea(i)"
      class="btn btn-outline-primary"
      id="botonEliminar"
    >
      ¡Listo!
    </button>
    <br />
  </div>
</div>
