#tituloPrincipal {
    text-align: center;
}

#tituloApp {
    text-align: center;
}

#separador {
    color: blueviolet;
}

#formulario {
    position: flex;
    justify-content: center;
}

#tituloTarjeta {
    text-align: center;
}

#tarjeta {
    border-radius: 5px;
    opacity: .9;
    transition: 300ms;
    border-color: darkgrey;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    animation-duration: 1.30s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 513px;
        width: 50%;
    }
}

#insertarTarea {
    transition: 300ms;
}

#insertarTarea:hover {
    transform: scale(1.19);
    transition: 300ms;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#tarjeta:hover {
    border-radius: 10px;
    transform: scale(1.15);
    transition: 300ms;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}
